<!DOCTYPE html>
<html lang="en">
<head th:replace="~{layout :: page_head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="display-container">

    <nav th:replace="~{layout :: page_navbar}"></nav>

    <main>
        <div class="center-container">
            <h2>
                To Do List <span></span>
            </h2>
            <a th:href="@{/todoitems/new}"><button class="new">New</button></a>
        </div>
        <div class="center-container">
        </div>
        <div class="card" th:each="item :${ToDoItems}">
            <h3>Task: <span th:text="${item.task}"></span></h3>
        </div>
    </main>

    <footer th:replace="~{layout :: page_footer}"></footer>
</div>
</body>
</html>