<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

  <head th:replace="~{layout :: page_head}">
    <meta charset="UTF-8">
    <title>Create ToDo Items</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
  </head>

  <body>
  <div class="display-container">
    <nav th:replace="~{layout :: page_navbar}"></nav>

    <main>

      <div class="center-container">
        <h1>New ToDo Item</h1>
      </div>

      <div>
        <form method="post" th:action="@{/todoitems/new}" th:object="${toDoItem}">

          <input class="form" type="hidden" th:field="*{id}">

          <div class="form-input">
            <input class="form" type="text" id="Task" name="Task" placeholder="Task..." th:field="*{task}">
            <p class="danger" th:if="${#fields.hasErrors('task')}" th:errors="*{task}"></p>
          </div>

          <div class="form-input">
            <input class="form" type="text" id="Description" name="Description" placeholder="Description..." th:field="*{description}">
          </div>

          <div class="form-button">
            <button class="form" type="submit">Save</button>
          </div>

        </form>
      </div>


    </main>

    <footer th:replace="~{layout :: page_footer}"></footer>
  </div>
  </body>

</html>